@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Urbanist", sans-serif;
}

.map-fix {
  z-index: 1 !important;
  position: relative !important;
}